$noCssVar: true;
@import "~@angular/cdk/overlay-prebuilt.css";
@import "~@lucca-front/scss/src/main.overridable";
@import "~@lucca-front/ng/style/main.overridable";
@import "~@lucca-front/ng/material/style/main.overridable";

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,700");

:root {
	@include generateCSSVarsFromTheme($theme);
}

.card-header {
	align-items: center;
	border-bottom: 1px solid _component("card.border.color");
	display: flex;
	min-height: 3rem;
	padding: _component("card.footer.padding");
}

.card-header-center {
	margin-left: auto;
	margin-right: auto;
}

.card-footer-center {
	margin-left: auto;
	margin-right: auto;
}

body {
	overflow-y: scroll;
}
