$noCssVar: true;
@import "~@angular/cdk/overlay-prebuilt.css";
@import "~@lucca-front/scss/src/main.overridable";
@import "~@lucca-front/ng/style/main.overridable";
@import "~@lucca-front/ng/material/style/main.overridable";

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,700");

:root {
	@include generateCSSVarsFromTheme($theme);
}

body {
	overflow-y: scroll;
}

.card-header {
	align-items: center;
	border-bottom: 1px solid _component("card.border.color");
	display: flex;
	min-height: 3rem;
	padding: _component("card.footer.padding");
}

.card-header-center {
	margin-left: auto;
	margin-right: auto;
}

.card-footer-center {
	margin-left: auto;
	margin-right: auto;
}

.modal-content {
	.headLine {
		font-size: 1.1rem;
		margin-bottom: 1rem;
	}
	.links {
		float: right;
		margin-top: 1rem;
		margin-bottom: 1rem;
		.link {
			display: block;
			position: relative;
			margin-top: 0.5rem;
			.link-logo {
				position: absolute;
				display: inline-block;
				margin-right: 1rem;
				height: 1.4rem;
				top: 0;
				img {
					height: 1.4rem;
				}
			}
			.link-url {
				height: 100%;
				margin-left: 2.5rem;
				display: inline-block;
			}
		}
	}
}
