@import "~@lucca-front/scss/src/main.scss";

.card-header {
	align-items: center;
	border-bottom: 1px solid _component("card.border.color");
	display: flex;
	min-height: 3rem;
	padding: _component("card.footer.padding");
}

.card-header-center {
    margin-left: auto;
    margin-right: auto;
}

.card-footer-center {
    margin-left: auto;
    margin-right: auto;
}